DISPLAY=:0
XAUTH=/tmp/.docker.xauth

# Docker Hub: https://hub.docker.com/r/alienkh/ardupilot_sim_ros2
DOCKER_IMAGE=alienkh/ardupilot_sim_ros2
DOCKER_IMAGE_TAG=latest

CAMERA_PROFILE=gimbal
MODEL_PROFILE=iris_with_gimbal
WORLD_PROFILE=world-default

SIM_SPEEDUP=1
PHYSICS_STEP_SIZE=0.002
GZ_HEADLESS=false
GZ_SERVER_ONLY=false
ENABLE_GST_STREAM=false

# rqt_image_view (profile: rqt)
CAMERA_TOPIC=/camera/image
RQT_WAIT_SEC=120
